.home {
  padding: 12px;
  background-image: url("https://avatanplus.ru/files/resources/mid/56cdae63c14b6153137135d0.png");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}