.chat {
  height: 100%;
  display: flex;
  background-color: #f1faee;
  width: 1320px;
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.04204);

  &__dialogs {
    padding: 0 10px 10px 15px;
  }

  &__sidebar {
    width: 440px;
    border-right: 2px solid #202020;

    &-invite {
      width: 440px;
      border-right: 2px solid #202020;
      background-color: #118ab2;
      padding: 20px;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      border-bottom: 2px solid #202020;

      &a {
        margin: 0;
      }
    }

    &-header {
      display: flex;
      font-size: 20px;
      padding: 20px;

      &-list {
        width: 350px;
      }

      &-add {
        flex: 1;
        opacity: 0.4;
        width: 20px;
        height: 20px;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }

    &-search {
      padding-bottom: 10px;

      input {
        width: 400px;
        height: 30px;
        font-size: 18px;
      }
    }

    &-dialogs {
      height: calc(100% - 100px);

      .dialogs {
        height: 100%;
        overflow: auto;
      }
    }
  }

  &__dialog {
    flex: 1;

    &-messages {
      padding: 20px;
      height: calc(100% - 120px);
      overflow: auto;
    }

    &-header {
      background-color: #118ab2;
      padding: 20px;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      border-bottom: 2px solid #202020;

      &-username {
        color: #fff;
      }
    }
  }
}

.scrollbar {
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}
