.dialogs-empty {
  &-image {
    width: 90px;
    height: 90px;
    margin: auto;
    display: block;
    margin-top: 30vh;
  }

  p {
    margin: 20px;
    text-align: center;
    font-size: 20px;
  }
}
